
<div class="div">
<div class="card mb-3">
    <h3 class="card-header">Banking News</h3>
    <div class="card-body">
      <h5 class="card-title">Market Now: Private bank stocks up; Kotak Mahindra Bank, ICICI Bank advance 1%</h5>
      <h6 class="card-subtitle text-muted">Equity benchmarks were in the positive terrain tracking global cues.</h6>
    </div>
    <img style="height: 200px; width: 100%; display: block;" src="\assets\images\banking1.jpg" alt="Card image">
    <div class="card-body">
      <p class="card-text">NEW DELHI: Most of the private bank stocks were trading with gains during the early trade on Friday. 

        The Nifty Private Bank index was trading 0.63 per cent up at 14,388 around 10:35 am (IST) with all components in the green. .</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Most active stocks in terms of value help investors to identify the stocks with highest trading turnover during the day.</li>
      <li class="list-group-item">The average cost of debt, funded through Japanese banks are among the lowest in international financing markets.</li>
      <li class="list-group-item">The agency asked Mahesh Chandra Punglia and Uma Kant Venkat Naik to join the investigations on Thursday. A company secretary was also called in.</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">https://economictimes.indiatimes.com/markets/stocks/news/market-now-private-bank-stocks-up-kotak-mahindra-bank-icici-bank-advance-1/articleshow/63742796.cms</a>
    
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
  
</div>


  
